@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>My name is Oscar Hansson I am 29 years old and I currently live in Uppsala, 
    I have a bachelors degree in computer science and I currently work as a software 
    developer at Sandvik Coromant, my preferred languages are C# and Java and I have 
    experience of working in Devops and agile projects. On the navbar of this page you 
    will find links to some files and other useful links.</p>