
@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>

<a href="https://www.linkedin.com/in/oscar-hansson-992a08199/">LinkedIn</a>
<br />
<a href="https://github.com/OscarHansson72">GitHub</a>
